tbody {
    display: inline-flex;
    font-size: .8em;
    transition: all 2s ease-in-out;
    transform: translate(350px, 0);
    justify-content: center;
    max-height: 3em;
    
    z-index: 10000;        
    width: 16800px !important;
}
tbody tr {
    border-top: 2px solid #193441;
    border-bottom: 4px solid #d1dbbd;
    background-color: #fcfff5;
    width: 30em;
    display: flex;
    justify-content: center;
}
tbody tr td {
    border: none !important;
}
tbody tr td:nth-child(1) {
    display: none;
}
tbody {
    bottom: 0;
    background-color: white;
    position: absolute;
    transition: all 1s linear;
    animation: ani 200s infinite;
    animation-timing-function: linear;
}
@keyframes ani {
    0% {
        left: -300px;
    }
    100% {
        left: -16300px;
    }
}
